body{
    
    font-family: Helmet,Freesans,Helvetica,Arial,sans-serif;
    padding: 16px;
    margin-left: 150px;
    position: absolute;
    width: 50%;
    

}

article,header{
    margin-right: 30px;
    width: auto;
}

p,h2{
    color: #404040;
    line-height: 1.5;
}
a{
    border-bottom: 1px solid #dcdcdc;
    color: #222;
    font-weight: bold;
    text-decoration: none;
}
a:hover{
    color:#677CAC ;

}
ul,li{
    margin-top: 18px
}
iframe{
    width:630px;
    height: 340px;
   
    border: 0; 
    
}

.video{
    overflow: hidden;
    margin: 20px 0px;
}

.long-line,.short-line{
    margin: 25px 0px;
    border-color:#FAFAFA;
   
   
}
.long-line{
    width: 660px;
}
.short-line{
    width: 620px ;
}
.column-two{
   
    background-color: tomato;
    border: 5 solid black;
    position: absolute;
    top:0;
    left:900px;

}
.images{
    display: block;
    margin: 20px 0px;
    padding: 0;
    width: 90%;
    /*max-width: 400px;*/
    /*height: fit-content;  */
    position: relative;
    z-index: -1;
    
}


    
.by_title{
    color: #5a5a5a;
    font-size: 14px;

}



.image-and-copyright{
    background: rgba(0,0,0,0.6);
    bottom: 55px;
    color: #ececec;
    letter-spacing: .25px;
    padding: 3px 8px 1px;
    position: absolute;
    left: 480px;
    right: 0;
    width: 125px;

}

.image-caption{
    
    background-color: black;
    color: white;
    font-size: 14px;
    padding: 16px;
    margin: 0;
    width: 630px;
   
   
    
}

.image-caption2{
    background-color: black;
    color: white;
    font-size: 14px;
    padding: 16px;
    margin-top: 0;
    width: 593px;
   
    
}

p.introduction{
    color: #404040;
    font-weight: bold;
    margin-top: 24px;
}